<!-- Right Panel Container - All sliding panels -->
<div id="right-panels-container">
  {% include 'components/panels/route-panel.html' %}
  {% include 'components/panels/report-panel.html' %}
  {% include 'components/panels/finder-panel.html' %}
  {% include 'components/panels/disruptions-panel.html' %}
  {% include 'components/panels/metrics-panel.html' %}
  {% include 'components/panels/demo-runner-panel.html' %}
  {% include 'components/panels/demo-creator-panel.html' %}
  {% include 'components/panels/developer-panel.html' %}
  {% include 'components/panels/comparison-panel.html' %}
</div>
